html, body {
    background-color: rgb(196, 255, 228);
    text-align: center;
    
}

.logo {
    text-align: center;
    color: darkmagenta;
    font-style: oblique;
    text-decoration: underline;
}

.drinks {
    position: relative;
    padding: 5px;
}

.drinkTitle {
    position: absolute;
    left: 10%;
    color: darkmagenta;
    font-size: large;
    font-style:oblique;
    font-weight: bold;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

#name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
}

#ingredients {
    text-align: center;
    vertical-align: center;
}

#ingredientsTitle {
    text-align: center;
    vertical-align: center;
}

#drink-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

input {
    text-align: center;
    margin-bottom: 2px;
}

#reset-btn {
    width: 200px;
}